body {
	width: 50%;
	margin: 0 auto;
}

.link {
	padding: 20px;
}

.error-messages {
	color: red;
}

.error-messages ul {
	display: flex;
	justify-content: center;
}

.login-form-table, .signup-form-table, .setting-form-table {
	width: 100%;
	border-spacing: 15px;
}

.message-form {
	width: 70%;
	margin: 0 auto;
}

.login-form-table tr, .message-form tr, .filter-table tr {
	text-align: center;
}

.filter-form, .signup-form-table, .setting-form-table {
	display: flex;
	justify-content: center;
}

.input-field {
	width: 100%;
}

.message-comment-list table {
	border-spacing: 7px;
}

.message-comment-set {
	padding: 30px 0;
	border-bottom: solid 1px grey;
}

.comment-form .comment-area {
	width: 100%;
}

.comment-form .comment-post-button {
	margin-top: 5px;
}


.copyright {
	paddding-top: 20px;
}

.message-form-table{
	width:100%;
}